body { 
    /* background-color: lightblue; */
   font-family: Verdana, Helvetica, Arial, sans-serif; 
}

h2 {
    color: #007e7e;
 font-family: Verdana, Helvetica, Arial, sans-serif;
}

#garantie {

font-style: italic;
color: #444444;

background-color:#a7cece ;
border-style: dashed ;
border-color: white;
border-width: 1px;
margin-left: 33px ;
margin-top: 35px;
margin-bottom: 35px;
margin-right: 23%;
padding-left: 82px;
padding-top: 30px;
padding-bottom: 30px;
background-image: url("bilder/hintergrund.gif");
background-repeat: no-repeat;
} 

#elixire {
 float: right;
 width: 20%





}

h5  {

color: red ;
}